<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Contracts Test Suite">
            <directory>./tests/contracts/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="PHPUnit_Util_Log_VCR" file="vendor/php-vcr/phpunit-testlistener-vcr/PHPUnit/Util/Log/VCR.php" />
    </listeners>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="APP_KEY" value="sync"/>
        <env name="ADMIN_PASSWORD" value="Xidkr59zYNuPVKWqHLiWwppEgK3Effoo"/>
        <env name="API_CLIENT_URL" value="https://en.wikipedia.org/"/>
        <env name="MARVEL_API_VERSION" value="/v1/public"/>
        <env name="MARVEL_API_BASE_URL" value="https://gateway.marvel.com"/>
        <env name="MARVEL_API_KEY" value="eeaef8ccb27b7aa1e20c80bd2f0d78a5"/>
        <env name="MARVEL_API_SECRET" value="7ba1bfda7586b8392174ae93471383ff549a6be1"/>
        <env name="APP_KEY" value="Xidkr59zYNuPVKWqHLiWwppEgK3Effoo"/>
    </php>
</phpunit>
